#shop {
  .carts {
    font-family: $main-font;
    background-color: #23262f;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    padding: 0px 0px 10px 0px;
    width: 100%;
    height: 100%;

    .carts-img {
      position: relative;
      width: 100%;
      height: 300px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &:hover {
        .pos-icon {
          opacity: 1;
        }
      }

      .pos-icon {
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        left: 50%;
        right: 50%;
        gap: 7px;
        transition: 0.3s ease-in-out;

        i {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 10px;
          font-size: 18px;
          border-radius: 50%;

          color: #23262f;
          background-color: #ffffff;
          width: 30px;
          height: 30px;
          transition: 0.2s ease-in-out;

          &:hover {
            background-color: #bdbcbc;
            cursor: pointer;
          }
        }
      }
    }

    .carts-body {
      display: flex;
      flex-direction: column;
      gap: 15px;
      padding-top: 8px;
      padding-right: 20px;
      padding-left: 20px;

      .title {
        color: #ffffff;
        font-weight: 600;
        line-height: 20px;
        font-size: 15px;
      }

      .stars {
        i {
          color: gold;
        }
      }

      .price {
        .current {
          font-size: 19px;
          font-weight: 600;
          color: #ffffff;
        }
      }
    }
  }

  .btns {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    width: 100%;
    padding-bottom: 30px;

    p {
      color: gray;
      font-family: "Rethink Sans", Sans-serif;
      font-size: 18px;
    }

    .load {
      background-color: #776bf8;
      font-family: "Rethink Sans", Sans-serif;
      border: none;
      font-size: 17px;
      font-weight: 600;
      fill: #ffffff;
      color: #ffffff;
      border-radius: 8px 8px 8px 8px;
      padding: 12px 24px;
      transition: 0.2s ease-in-out;
      text-align: center;

      &:hover {
        background-color: #ffffff;
        color: #776bf8;
      }
    }
  }

  .catergory {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.233);

    h2 {
      font-family: "Rethink Sans", Sans-serif;
      font-size: 19px;
      font-weight: 700;
      text-transform: capitalize;
      color: #ffffff;
    }

    ul {
      display: flex;
      align-items: center;
      gap: 8px;

      li {
        font-size: 16px;
        font-weight: 500;
        color: #ffffff;
        transition: 0.2s ease-in-out;

        &:hover {
          cursor: pointer;
          color: #bdbcbc;
        }
      }
    }
  }

  .filter {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.233);

    h2 {
      font-family: "Rethink Sans", Sans-serif;
      font-size: 19px;
      font-weight: 700;
      text-transform: capitalize;
      color: #ffff;
    }

    ul {
      display: flex;
      align-items: center;
      gap: 8px;

      li {
        font-size: 16px;
        font-weight: 500;
        color: #fff;
        transition: 0.2s ease-in-out;

        i {
          color: gold;
        }

        &:hover {
          cursor: pointer;
          color: #bdbcbc;
        }
      }
    }
  }
  .Platform {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.233);

    h2 {
      font-family: "Rethink Sans", Sans-serif;
      font-size: 19px;
      font-weight: 700;
      text-transform: capitalize;
      color: #ffff;
    }

    ul {
      display: flex;
      align-items: center;
      gap: 8px;

      li {
        font-size: 16px;
        font-weight: 500;
        color: #fff;
        transition: 0.2s ease-in-out;

        i {
          color: gold;
        }

        &:hover {
          cursor: pointer;
          color: #bdbcbc;
        }
      }
    }
  }
  .Availability {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;

    h2 {
      font-family: "Rethink Sans", Sans-serif;
      font-size: 19px;
      font-weight: 700;
      text-transform: capitalize;
      color: #ffff;
    }

    ul {
      display: flex;
      align-items: center;
      gap: 8px;

      li {
        font-size: 16px;
        font-weight: 500;
        color: #fff;
        transition: 0.2s ease-in-out;

        i {
          color: gold;
        }

        &:hover {
          cursor: pointer;
          color: #bdbcbc;
        }
      }
    }
  }
}

.header-text {
  padding-top: 50px;

  h2 {
    text-align: center;
    color: #ffffff;
    font-family: "Unbounded", Sans-serif;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 15px;
  }
}

.shop-box {
  display: flex;
  flex-direction: column;

  width: 110px;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  gap: 10px;
  height: 100%;

  .shop-img {
    width: 140px;
    height: 140px;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
  }
}
