#detail {
  .carts {
    h2 {
      font-family: "Rethink Sans", Sans-serif;
      font-size: 40px;
      font-weight: 700;
      text-transform: capitalize;
      line-height: 52px;
      color: #ffffff;
    }
    p {
      color: #a3a1af;
    }
  }
}
